fint:
  application-id: fint-flyt-instance-service
  flyt:
    instance-service:
      kafka:
        topic:
          instance-processing-events-retention-time: "4d"
server:
  error:
    include-message: always
spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server