fint:
  org-id: fintlabs.no
  kafka:
    default-replicas: 1

novari:
  flyt:
    resource-server:
      security:
        api:
          internal:
            enabled: true
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"https://role-catalog.vigoiks.no/vigo/flyt/developer\"]}"
    instance-service:
      time-to-keep-instance-in-days: 60

spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5433/fint-flyt-instance-service
    username: postgres
    password: password

server:
  port: 8081

slack:
  webhook:
    url: "https://localhost/slack"
