fint:
  application-id: fint-flyt-instance-service
  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000

novari:
  flyt:
    instance-service:
      kafka:
        topic:
          instance-processing-events-retention-time: "4d"

server:
  error:
    include-message: always

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server
  output:
    ansi:
      enabled: always
