fint:
  org-id: novari.no

novari:
  flyt:
    resource-server:
      security:
        api:
          internal:
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"DEVELOPER\"]}"

  kafka:
    default-replicas: 1
    topic:
      org-id: novari-no

spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5433/fint-flyt-instance-service
    username: postgres
    password: password

server:
  port: 8081
