fint:
  application-id: fint-flyt-instance-service

novari:
  flyt:
    instance-service:
      time-to-keep-instance-in-days: 60
      kafka:
        topic:
          instance-processing-events-retention-time: "4d"

server:
  error:
    include-message: always

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server
  output:
    ansi:
      enabled: always
