apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tromsfylke-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-instance-service_tromsfylke_no
      fintlabs.no/org-id: tromsfylke.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "tromsfylke-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "tromsfylke.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/beta/tromsfylke-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/beta/tromsfylke-no/api/intern/handlinger/instanser"
      - op: replace
        path: "/spec/env/1/value"
        value: |
          {
            "tromsfylke.no":["USER"],
            "vigo.no":["DEVELOPER", "USER"],
            "novari.no":["DEVELOPER", "USER"]
          }
      - op: replace
        path: "/spec/env/4/value"
        value: "tromsfylke-no"
      - op: replace
        path: "/spec/onePassword/itemPath"
        value: "vaults/aks-beta-vault/items/fint-flyt-v1-slack-webhook"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/beta/tromsfylke-no/actuator/health"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/beta/tromsfylke-no/actuator/prometheus"
    target:
      kind: Application
      name: fint-flyt-instance-service
